OPEN_PARLIAMENT_API=https://api.openparliament.ca
LEGISINFO_BASE_URL=https://www.parl.ca/legisinfo/en
OPENAI_API_KEY=
OPENAI_MODEL=gpt-4.1-mini
DATABASE_URL=
NEXTAUTH_SECRET=
NEXTAUTH_URL=http://localhost:3000
GITHUB_ID=
GITHUB_SECRET=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
BASIC_AUTH_USERS=
